<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">

</head>

<body>
  <div id="shopping-list">
    <div class="header">
      <h1>{{ header || 'Welcome' }}</h1>
      <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
        Cancel</button>
      <button v-else @click="doEdit(true)" class="btn btn-primary">Add Item</button>
    </div>
    <div v-if="editing" class="add-item-form">
      <input v-model="count" class="input-nums" type="number">

      <input @keyup.enter="addItem" v-model="newItem" type="text" placeholder="Add new item">

      <button :disabled="newItem.length === 0" @click="addItem" class="btn btn-primary">
        Save Item</button>

      <label>
        <input type="checkbox" v-model="newItemHighPriority">
        High Priority
      </label>

    </div>
    <p v-if="items.length === 0">Nice job! You bought all!</p>
    <ul>
      <li v-for="item in filterCompleted" :key="item.id" @click="togglePurchased(item)"
        :class="{strikeout: item.purchased, priority: item.highPriority}">
        {{item.count}} {{item.name}}
      </li>
    </ul>
    <button @click="hide" v-model="isHide" class="btn btn-secondary">{{textHideBtn}}</button>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    let id = 0;
    const shoppingList = Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          editing: true,
          isHide: false,
          textHideBtn: 'Hide completed',
          newItem: '',
          newItemHighPriority: false,
          count: '1',
          items: [
            { id: id++, name: 'Notepad', count: 3, purchased: true, highPriority: false },
            { id: id++, name: 'Color pencils', count: 7, purchased: false, highPriority: true },
            { id: id++, name: 'Oil paints', count: 12, purchased: true, highPriority: false }]
        }
      },
      computed: {
        filterCompleted() {
          if (this.isHide) {
            return this.items.filter(el => !el.purchased);
          } else {
            return this.items;
          }
        }
      },
      methods: {
        addItem() {
          this.items.push({
            id: id++,
            name: this.newItem,
            count: this.count,
            purchased: false,
            highPriority: this.newItemHighPriority
          });
          this.newItem = '';
          this.count = 1;
          this.newItemHighPriority = false;
        },
        doEdit(editing) {
          this.editing = editing;
          this.newItem = '';
          this.newItemHighPriority = false;
        },
        togglePurchased(item) {
          item.purchased = !item.purchased;
        },
        hide() {
          this.isHide = !this.isHide;
          if (this.isHide) {
            this.textHideBtn = 'Show All';
          } else {
            this.textHideBtn = 'Hide comleted';
          }
        }
      }
    })
      .mount('#shopping-list')
  </script>
</body>

</html>
